<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <app-title [title]="'Portafolio'" [dark]="true"></app-title>
        
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" >
                    <div class="row justify-content-center">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <!--<div class="portfolio-item-caption-content text-center text-white"><i class="">proyecto 1</i></div>-->
                            <div class="col justify-content-center text-center mt-4">
                                <div class="portfolio-item-caption-content text-center text-white"><p>¿Quién quiere ser millonario?</p><p class="lead">Juego desarrollado en Windows Forms C#</p></div>
                                    <a class="btn btn-xl btn-outline-light" href="https://github.com/MariaPaulaLoaizaLopez/gameWWBM">
                                    Ver más
                                    </a>
                            </div>
                            
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/juego.PNG" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 2-->
            
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" >
                    <div class="row justify-content-center">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <!--<div class="portfolio-item-caption-content text-center text-white"><i class="">proyecto 1</i></div>-->
                            <div class="col justify-content-center text-center mt-4">
                                <div class="portfolio-item-caption-content text-center text-white"><p>HabilidApp</p><p class="lead">Aplicación móvil desarrollada en Xamarin Forms con C# y .Net Framework</p></div>
                                    <a class="btn btn-xl btn-outline-light" href="https://github.com/MariaPaulaLoaizaLopez/HabilidApp">
                                    Ver más
                                    </a>
                            </div>
                            
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/App.png" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" >
                    <div class="row justify-content-center">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <!--<div class="portfolio-item-caption-content text-center text-white"><i class="">proyecto 1</i></div>-->
                            <div class="col justify-content-center text-center mt-4">
                                <div class="portfolio-item-caption-content text-center text-white"><p>Sistema de archivos distribuidos en una red P2P</p><p class="lead">Aplicación de consola de una red Peer-to-Peer para compartir archivos desarrollada en Python</p></div>
                                    <a class="btn  btn-outline-light" href="https://github.com/MariaPaulaLoaizaLopez/DistributedFileSystem-P2P">
                                    Ver más
                                    </a>
                            </div>
                            
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/p2p.png" alt="..." />
                </div>
            </div>
            <!-- Portfolio Item 4-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" >
                    <div class="row justify-content-center">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <!--<div class="portfolio-item-caption-content text-center text-white"><i class="">proyecto 1</i></div>-->
                            <div class="col justify-content-center text-center mt-4">
                                <div class="portfolio-item-caption-content text-center text-white"><p>Página web personal</p><p class="lead">Aplicación web desarrollada con Angular</p></div>
                                    <a class="btn btn-outline-light" href="https://github.com/MariaPaulaLoaizaLopez/mypersonalwebpage">
                                    Ver más
                                    </a>
                            </div>
                            
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/portfolio/page.PNG" alt="..." />
                </div>
            </div>
           
        </div>
    </div>
</section>
