<header class="masthead bg-primary text-white text-center">
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/img/profile_image.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0">Maria Paula Loaiza López</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Desarrolladora de Software</p>
    </div>
</header>
