<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <app-title [title]="'Contacto'" [dark]="true"></app-title>

       
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5 ">
                <div class="align-items-center d-flex justify-content-center">
                   <a href="mailto:mapaulaloaiza@gmail.com"> <img class="icon" src="assets/img/email.svg" alt="..."/></a>
                </div>
            
            </div>
            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="align-items-center d-flex justify-content-center">
                    <a href="https://linkedin.com/in/maria-paula-loaiza-lópez-0b3b6b20b"><img class="icon" src="assets/img/lin.svg" alt="..." /></a>
                </div>
            </div>
            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="align-items-center d-flex justify-content-center">
                    <a href="https://github.com/MariaPaulaLoaizaLopez/"><img class="icon" src="assets/img/git.svg" alt="..." ></a>
                </div>
               
            </div>
        </div>
    </div>
</section>
